<!DOCTYPE html>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/products">DevOps Project</a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars text-light"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link active" aria-current="page" href="/products">
                        <div>
                            <i class="fas fa-home fa-lg mb-1"></i>
                        </div>
                        Products
                    </a>
                </li>

                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link active"  href="/shopping-cart">
                        <div>
                            <i class="fa fa-shopping-cart fa-lg mb-1"></i>
                            <span class="badge rounded-pill badge-notification bg-warning"></span>
                        </div>
                        Shopping Cart
                    </a>
                </li>

            </ul>
            <!-- Left links -->

            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" href="/logIn">
                        <div>
                            <i class="fa fa-sign-in fa-lg mb-1"></i>
                            <span class="badge rounded-pill badge-notification bg-info"></span>
                        </div>
                        LogIn
                    </a>
                </li>
                <li class="nav-item text-center mx-2 mx-lg-1">
                    <a class="nav-link" href="/logOut">
                        <div>
                            <i class="fa fa-sign-out fa-lg mb-1"></i>
                            <span class="badge rounded-pill badge-notification bg-success"></span>
                        </div>
                        LogOut
                    </a>
                </li>
            </ul>
            <!-- Right links -->

            <!-- Search form -->
            <form class="d-flex input-group w-auto ms-lg-3 my-3 my-lg-0">
                <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
                <button class="btn btn-primary" type="button" data-mdb-ripple-color="dark">
                    Search
                </button>
            </form>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->